<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/commons/layout :: head">
</head>
<style>
.input-group {
    margin-top: 16px;
}
label {
    width: 150px;
    text-align: left;
}
</style>
<body>
<header th:replace="/commons/layout :: header_nav_admin"></header>

<div align="center">
    <!--    message-->
    <div class="text-center">
        <span class="message text-success" th:text="${success}"></span>
    </div>
    <form method="POST" th:action="@{/admin/save}" th:object="${carDTO}" style="width: 60%">
        <caption>
            <h2 style="padding-top: 100px">Add New Car</h2>
        </caption>
        <div class="input-group">
            <label th:for="carBrand">Car brand</label>
            <input class="form-control" type="text" th:id="carBrand" th:field="*{brand}" required/>
            <small Class="text-danger" th:if="${#fields.hasErrors('brand')}"
                   th:errors="*{brand}"></small>
        </div>
        <div class="input-group">
            <label th:for="carModel">Car model</label>
            <input class="form-control" type="text" th:id="carModel" th:field="*{model}" required/>
            <small Class="text-danger" th:if="${#fields.hasErrors('model')}"
                   th:errors="*{model}"></small>
        </div>
        <div class="input-group">
            <label th:for="carSeat">Numbers of seat</label>
            <select class="form-control" th:id="carSeat" th:field="*{seat}">
                <option value="4">4 seats</option>
                <option value="7">7 seats</option>
            </select>
            <small Class="text-danger" th:if="${#fields.hasErrors('seat')}"
                   th:errors="*{seat}"></small>
        </div>
        <div class="input-group">
            <label th:for="carRP">Rental price</label>
            <input class="form-control" type="text" th:id="carRP" th:field="*{rentPrice}" required/>
            <small Class="text-danger" th:if="${#fields.hasErrors('rentPrice')}"
                   th:errors="*{rentPrice}"></small>
        </div>
        <div class="input-group">
            <label th:for="carLocation">Car location</label>
            <select class="form-control" th:id="carLocation" th:field="*{carLocation}">
                <option value="Ha Noi">Ha Noi</option>
                <option value="Da Nang">Da Nang</option>
                <option value="Ho Chi Minh">Ho Chi Minh</option>
            </select>
            <small Class="text-danger" th:if="${#fields.hasErrors('carLocation')}"
                   th:errors="*{carLocation}"></small>
        </div>
        <div class="input-group">
            <label th:for="carURL">URL</label>
            <input class="form-control" type="text" th:id="carURL" th:field="*{url}" required/>
            <small Class="text-danger" th:if="${#fields.hasErrors('url')}"
                   th:errors="*{url}"></small>
        </div>
        <div class="input-group">
            <label th:for="carURL2">URL2</label>
            <input class="form-control" type="text" th:id="carURL2" th:field="*{url2}" required/>
            <small Class="text-danger" th:if="${#fields.hasErrors('url2')}"
                   th:errors="*{url2}"></small>
        </div>
        <div class="input-group">
            <label th:for="carURL3">URL3</label>
            <input class="form-control" type="text" th:id="carURL3" th:field="*{url3}" required/>
            <small Class="text-danger" th:if="${#fields.hasErrors('url3')}"
                   th:errors="*{url3}"></small>
        </div>
        <div class="input-group">
            <label th:for="carURL4">URL4</label>
            <input class="form-control" type="text" th:id="carURL4" th:field="*{url4}" required/>
            <small Class="text-danger" th:if="${#fields.hasErrors('url4')}"
                   th:errors="*{url4}"></small>
        </div>
        <div class="input-group">
            <label th:for="carDes">Describe</label>
            <input class="form-control" type="text" th:id="carDes" th:field="*{description}" required/>
            <small Class="text-danger" th:if="${#fields.hasErrors('description')}"
                   th:errors="*{description}"></small>
        </div>
        <div class="col-sm-6 mx-auto">
            <button type="submit" class="btn btn-secondary">Save</button>
        </div>
    </form>
</div>


<footer th:replace="/commons/layout :: footer"></footer>
<th:block th:replace="/commons/layout :: script"></th:block>
</body>
</html>